# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [1]:
my_list = ['a','b','c']
a = my_list * 2
print(list(a))

['a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [2]:
my_list1 = ['a','b','c']
my_list2 = ['d','e','f']
new_list = my_list1 + my_list2
print(list(new_list))

['a', 'b', 'c', 'd', 'e', 'f']

#### 1.C. Membership:

In [8]:
my_list3 = ['a','b','c']
if 'a' in my_list3:
    print("a is in list")
else:
    print("a is not in list")

a is in list

#### 1.D. Length:

In [9]:
my_list4 = ['a','b','c']
print(len(my_list4))

3

#### 1.E. Iteration:

In [11]:
my_list5 = ['a','b','c']
for item in my_list5:
    print(item)

a
b
c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [14]:
List1 = [1, 2, 4, 5, 54]
List2 = [23,54,789,9876,876,532,56]
List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

max1 = print(max(List1))
max2 = print(max(List2))
max3 = print(max(List3))

54
9876
456789876

#### 2.D. min():

In [17]:
min1 = print(min(List1))
min2 = print(min(List2))
min3 = print(min(List3))

1
23
1

#### 2.E.list:

In [1]:
tuple1 = (1,2,3,4,5,6)
new_list = list(tuple1)
print(new_list)

[1, 2, 3, 4, 5, 6]

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [27]:
my_list = ['white','red','blue','green','blue','yellow','black']
my_list.append(2001)
print(my_list)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 2001]

#### 3.B) list.clear():

In [35]:
my_list1 = ['white','red','blue','green','blue','yellow','black']
print(my_list1)
my_list1.clear()
print(my_list1)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
[]

#### 3.C) List.copy()

In [36]:
my_list2 = ['white','red','blue','green','blue','yellow','black']
new = my_list2.copy()
print(list(new))

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [39]:
my_list3 = ['white','red','blue','green','blue','yellow','black','white']
new1 = my_list3.count('white')
print(new1)

2

#### 3.E) list.extend(seq):

In [41]:
my_list4 = ['white','red','blue']
my_list5 = ['green','blue','yellow']
my_list4.extend(my_list5)
print(my_list4)

['white', 'red', 'blue', 'green', 'blue', 'yellow']

#### 3.F) list.index(obj):

In [45]:
my_list6 = ['white','red','blue','green','blue','yellow']
new3 = my_list6.index('blue')
print(new3)

2

#### 3.G) list.insert(index, obj):

In [49]:
my_list7 = ['white','red','blue','green','blue','yellow']
my_list7.insert(6,'black')
print(my_list7)

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.H) list.pop(obj=list[-1]):

In [51]:
my_list8 = ['white','red','blue','green','blue','yellow','black']
my_list8.pop(4)
print(my_list8)

['white', 'red', 'blue', 'green', 'yellow', 'black']

#### 3.I) list.remove(obj):

In [53]:
my_list9 = ['white','red','blue','green','blue','yellow','black']
my_list9.remove('red')
print(my_list9)

['white', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [54]:
my_list10 = ['white','red','blue','green','blue','yellow','black']
my_list10.reverse()
print(my_list10)

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

#### 3.K) list.sort([func]):

In [55]:
my_list11 = [1,4,2,6,7,3]
my_list11.sort()
print(my_list11)

[1, 2, 3, 4, 6, 7]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [56]:
tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
new = tuple1 * 2
print(new)

('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')

#### 1.B. Concatenation (+):

In [57]:
tuple2 = ('white','red', 'blue', 'green','blue','yellow', 'black')
tuple3 = (1,4,1,3,4,5,65)
new1 = tuple2 + tuple3
print(new1)

('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 1, 4, 1, 3, 4, 5, 65)

#### 1.C) Membership:

In [64]:
tuple4 = ('white','red', 'blue', 'green','blue','yellow', 'black')
if 'yellow' in tuple4:
    print("it is present")
else:
    print("it is not present")

it is present

#### 1.D) Length:

In [65]:
tuple4 = ('white','red', 'blue', 'green','blue','yellow', 'black')
print(len(tuple4))

7

#### 1.E) Iteration:

In [67]:
tuple4 = ('white','red', 'blue', 'green','blue','yellow', 'black')
for value in tuple4:
    print(value)

white
red
blue
green
blue
yellow
black

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [71]:
tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
new = max(tuple1)
print(new)

8765

#### 2.D) min():

In [72]:
tuple2 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
new1 = min(tuple2)
print(new1)

4

#### 2.E) Tuple:

In [75]:
my_list = [11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234]
new_tuple = tuple(my_list)
print(new_tuple)

(11, 4, 21, 4, 115, 6, 13, 51, 4, 16, 77, 8, 17, 17, 876, 89, 8765, 14, 51, 11, 876, 9, 3456, 4234)

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [76]:
set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
new = set1.union(set2)
print(new)

{1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

#### 1.B. Intersection

In [77]:
set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
new1 = set1.intersection(set2)
print(new)

{1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

#### 1.C. Difference

In [78]:
new2 = set1.difference(set2)
print(new)

{1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

####  1.D. Symmetric difference:

In [80]:
new3 = set1.symmetric_difference(set2)
print(new3)

{1, 3, 4, 5, 6, 7, 8, 9, 787654, 9876, 87654, 876, 436, 54, 56}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [82]:
dict1 = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(len(dict1))

3

#### 2.B) str(dict):

In [83]:
print(str(dict1))

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 1.C) type(variable):

In [84]:
print(type(dict1))

<class 'dict'>

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [87]:
dict2 = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dict2.clear()
print(dict2)

{}

#### 2.B) dict.copy():

In [88]:
dict2 = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
new = dict2.copy()
print(new)

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [95]:
new1 = dict.fromkeys(dict2,0)
print(new1)

{'a': 0, 'o': 0, 'g': 0}

#### 2.D) dict.get(key[, value]) :

In [102]:
new2 = dict.get(dict2,'o')
print(new2)

omega

#### 2.E) dict.items()

In [5]:
dict3 = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dict3.items())

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [6]:
print(dict3.keys())

dict_keys(['a', 'o', 'g'])

#### 2.G) dict.setdefault():

#### 2.H) dict.update():

In [11]:
dict4 = {'d': 'delta'}
dict3.update(dict4)
print(dict3)

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'd': 'delta'}

 #### 2.L)  dict.values():

In [20]:
dict6 = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dict7 = dict6.values()
print(dict7)

dict_values(['alpha', 'omega', 'gamma'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [114]:
a = int(input("Enter a number: "))
if a == 10:
    print("hello")

Enter a number: 5

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [116]:
b = int(input("Enter a number: "))
if b == 10:
    print("Hello")
else:
    print("Goodbye")

Enter a number: 5
Goodbye

# While Loop

#### 1. Print Hello World 5 times

In [117]:
count = 1
while(count<=5):
    print("Hello")
    
    count += 1

Hello
Hello
Hello
Hello
Hello

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [118]:
a = [23,1,0,12,45,-1,46]
for item in a:
    print(item)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [120]:
a = [1,2,3,4,5,6,7,8]
for item in a:
    print(item)
    if item == 2:
        break

1
2

In [1]:
import numpy as np

In [12]:
a = np.array([1,2,3,4,5,6,7,8]).reshape(2,2,2)
a

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])